<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="AboutUs.css">
</head>
<body>
    <header>
        <h1 class="nombre">Caren RoS</h1> 
    </header>
    
    <p>
        El fénix es el animal místico mas increible.
    </p>
    
    <img class="Imagen" src="https://media.istockphoto.com/id/1421764176/es/vector/abstract-phoenix-bird-vector-illustration.jpg?s=612x612&w=0&k=20&c=Uip2D7kbHeGLBavTnC1ippXJmM6ThaNmRD4HvtGFMAE=" alt="Imagen de un fénix">
</body>
</html>